@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: 'Share Tech Mono', monospace;
  box-sizing: border-box;
  color: #1b1b17;
}

body {
  font-family: 'Share Tech Mono', monospace;
  background-image: url('/background.jpeg') , linear-gradient(to right, #ffcdb9, #FFC0CB) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

main img {
  display: flex;
  max-width: 100%; /* Ensure the image doesn't exceed the width of its container */
  max-height: 100%; /* Ensure the image doesn't exceed the height of its container */
}